@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons) {

    .icon-container {
        width: 32px !important;
        height: 32px !important;
    }

    .icon {
        max-width: 32px !important;
        max-height: 32px !important;
    }

    /* ESR 35 and TB only */
    .content-container {
        -moz-box-align: center !important;
    }

    .content-inner-container {
        -moz-box-orient: horizontal;
    }

    /* ESR 35 and TB only */
    .basicinfo-container {
        -moz-box-align: end !important;
    }

    .advancedinfo-container {
        -moz-box-align: end;
    }

}
