@-moz-document url(chrome://mozapps/content/extensions/extensions.xul), url(about:addons) {

    .icon-container {
        width: 32px !important;
        height: 32px !important;
    }

    .icon {
        max-width: 32px !important;
        max-height: 32px !important;
    }

    .content-container {
        -moz-box-align: center !important;
    }

    .content-inner-container {
        -moz-box-orient: horizontal;
        -moz-box-align: center !important;
    }

    .basicinfo-container {
        -moz-box-align: center !important;
    }

    .advancedinfo-container {
        -moz-box-align: center !important;
    }

    .description-outer-container {
        -moz-box-pack: center !important;
    }

    .description-container {
        margin-top: 0 !important;
        -moz-box-align: center !important;
    }

    .relnotes-container {
        margin-left: 12px !important;
    }

}
